[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .git.signingkey }}
[push]
	default = simple
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
	binary = true
[alias]
	graphlog = log --graph --oneline
	graphlogstat = log --graph --oneline --stat
	parentlog = log --graph --oneline --first-parent
	decorlog = log --graph --oneline --simplify-by-decoration
	nomergelog = log --graph --oneline --no-merges
	whatifpush = "!git cherry -v ; git push --all --dry-run ; git push --tags --dry-run"
[core]
	excludesFile = {{ .chezmoi.homedir }}/.gitignore
[commit]
	gpgsign = {{ .git.signcommit }}
