# gpg-agent.conf

# export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
# for ssh support
enable-ssh-support
default-cache-ttl-ssh 3600
max-cache-ttl-ssh 18000

default-cache-ttl 3600
max-cache-ttl 18000

# emacs and loopback pinentry
allow-emacs-pinentry
allow-loopback-pinentry
pinentry-program {{ .gnupg.pinentry_program }}

# debugging options if required
#debug-pinentry
#debug-all
#verbose
#log-file /tmp/gpg-agent.log
