[Unit]
Description=OpenSSH authentication agent
Documentation=man:ssh-agent(1) man:ssh-add(1) man:ssh(1)

[Service]
# DISPLAY required for ssh-askpass to work
Environment=SSH_AUTH_SOCK=%t/openssh/ssh-agent.socket DISPLAY=:0
# reload deletes all identities from the agent
ExecReload=/usr/bin/ssh-add -vvv -D
# start agent in debug mode, 10m default lifetime
ExecStart=/usr/bin/ssh-agent -d -t 10m -a $SSH_AUTH_SOCK
Restart=always
RuntimeDirectory=openssh
RuntimeDirectoryPreserve=yes
RuntimeDirectoryMode=0700
# keep identities for at most 60m, then restart agent
RuntimeMaxSec=60m
SuccessExitStatus=2
Type=simple

[Install]
WantedBy=multi-user.target
