[Unit]
Description=systemd proxy helper socket for socket-activated ssh-agent
Documentation=man:systemd-socket-proxyd(8) man:ssh-agent(1) man:ssh-add(1) man:ssh(1) https://datatracker.ietf.org/doc/html/draft-miller-ssh-agent-04 https://github.com/openssh/openssh-portable/blob/master/PROTOCOL.agent

[Socket]
FileDescriptorName=std
# start ssh-agent-proxy on incoming traffic of %t/ssh-agent.socket
ListenStream=%t/ssh-agent.socket
SocketMode=0600

[Install]
WantedBy=sockets.target
